@import "../../../../variables.scss";

.choose-private-question {
	.content {
		padding: 30px 30px 30px;
		.search-panel {
			input {
				width: 50%;
			}
		}
		.common-questions-outer {
			text-align: left;
		}
		.cta {
			display: flex;
			margin-top: 30px;
			justify-content: flex-end;
		}
	}
}
