@import "../../../variables.scss";

.profile-overview {
	background-color: #fff;
	align-self: stretch;
	width: 350px;
	box-shadow: 0 2px 30px 1px rgba(176, 192, 237, 0.45);
	.primary {
		text-align: center;
		padding: 40px 20px;
		.avatar {
			width: 250px;
			height: 250px;
			margin: 0 auto;
			overflow: hidden;
			border-radius: 50%;
			position: relative;
			border: 1px solid #dcdcdc;
			color: grey;
			img {
				width: 100%;
				display: block;
				height: auto;
			}
			.edit {
				position: absolute;
				background: #00000045;
				width: 100%;
				bottom: 0;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				.btn {
					color: white;
					font-size: 14px;
					cursor: pointer;
					opacity: 0.8;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		h1 {
			color: $secondary-color;
			font-weight: 500;
			margin: 20px 0 0;
		}
		h2 {
			color: $secondary-color;
			font-size: 30px;
			font-weight: 500;
			// color: #252b3d;
			margin: 10px 0 10px;
		}
		h3 {
			color: $secondary-color;
			font-size: 26px;
			font-weight: normal;
			// color: #6b6c6f;
			margin: 0;
		}
	}
	.secondary {
		ul {
			li {
				list-style: none;
				border-bottom: 1px solid #d6e4f1;
				padding: 10px 20px;
				color: #6b6c6f;
				// padding-left: 50px;
				font-size: 16px;
				position: relative;
				a {
					color: $secondary-color;
				}
				input,
				textarea {
					flex: 1;
					width: calc(100% - 75px);
					padding: 4px;
					color: #6b6c6f;
					border: none;
					font-size: 16px;
					&.edit {
						border: 1px solid #b9b9b9;
						color: #6b6c6f;
					}
				}
				svg {
					color: black;
					opacity: 0.4;
					font-size: 12px;
					&.icon {
						margin-right: 15px;
					}
					&.edit,
					&.close,
					&.check {
						cursor: pointer;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						&:hover {
							opacity: 0.3;
						}
					}
					&.edit {
						right: 15px;
					}
					&.check {
						right: 15px;
						font-size: 18px;
					}
					&.close {
						right: 40px;
						font-size: 18px;
					}
					* {
						pointer-events: none;
					}
				}
				&.highlight {
					color: $secondary-color;
					cursor: pointer;
					svg {
						color: $secondary-color;
						opacity: 0.5;
					}
				}
			}
		}
	}
}
