.create-email-template {
	.content {
		padding: 30px 30px 30px;
		ul {
			li {
				list-style: none;
				margin-bottom: 20px;
				label {
					display: block;
					text-align: left;
					margin-bottom: 10px;
					span {
						color: red;
					}
				}
				input {
					width: 100%;
					border: 1px solid #bcd1e4;
					padding: 10px;
					font-size: 16px;
				}
				ul {
					border: 1px solid #bcd1e4;
					font-size: 16px;
					padding: 15px 15px 0 15px;
					display: flex;
					flex-wrap: wrap;
					li {
						margin-bottom: 0;
						label {
							font-size: 14px;
							margin-bottom: 15px;
						}
					}
				}
				.rich_text_editor {
					min-height: 128px;
					padding: 6px;
					& > div {
						&:first-child {
							display: none;
						}
						&:last-child {
							padding-bottom: 0;
						}
					}
					[data-block="true"] {
						margin: 6px 0;
						&:first-child {
							margin-top: 0;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				textarea {
					border: 1px solid #bcd1e4;
					width: 100%;
					font-size: 16px;
					height: 160px;
					color: #526677;
					padding: 15px;
				}
			}
		}
		.cta {
			display: flex;
			justify-content: flex-end;
			.outline {
				margin-right: 20px;
			}
		}
	}
	.my_editor,
	.rich_text_editor {
		min-height: 100px;
		border: 1px solid #bcd1e4;
		text-align: left;
		padding: 20px;
		color: #526677;
		p,
		div {
			margin: 4px 0;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
