@import "../../../variables.scss";

.verify-code {
  input {
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid rgba(204, 204, 204, 0.397);
    width: 30px;
    transition: all 0.2s ease-in-out;
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 #000;

    &:focus,
    &:active {
      border-bottom: 2px solid $primary-color;
      outline: none;
    }
    &::selection {
      background: transparent;
    }
  }
}
