.job-view-cmp {
	align-items: flex-start;
	.left {
		flex: 1;
		.top {
			box-shadow: 0 2px 30px 1px rgba(176, 192, 237, 0.45);
			display: flex;
			padding: 20px;
			position: relative;
			flex-wrap: wrap;
			margin-bottom: 30px;
			.logo {
				border: 1px solid #bcd1e4;
				width: 60px;
				padding: 3px;
				margin-right: 15px;
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: 100%;
					display: block;
				}
			}
			.info {
				h3,
				p {
					font-weight: 400;
					margin: 0;
				}
				p {
					margin-top: 10px;
					color: #6b6c6f;
				}
			}
			.short-info {
				width: 100%;
				display: flex;
				color: #6b6c6f;
				font-size: 16px;
				margin-top: 15px;
				p {
					margin: 0;
					padding-left: 30px;
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 20px;
					&:first-child {
						background-image: url("../../../../assets/work-experience.png");
						margin-right: 100px;
					}
					&:last-child {
						background-image: url("../../../../assets/upload.jpg");
					}
				}
			}
		}
		.bottom {
			box-shadow: 0 2px 30px 1px rgba(176, 192, 237, 0.45);
			padding: 20px;
			p {
				.heading {
					font-weight: 500;
				}
				.text {
					color: #6b6c6f;
				}
				&:first-child {
					margin-top: 0;
				}
			}
			ul {
				margin-left: 30px;
				li {
					color: #6b6c6f;
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.cta {
				justify-content: space-between;
				margin-top: 30px;
				p {
					color: red;
					margin: 0;
				}
			}
		}
	}
	.right {
		box-shadow: 0 2px 30px 1px rgba(176, 192, 237, 0.45);
		width: 300px;
		padding: 20px;
		margin-left: 30px;
		p {
			color: #6b6c6f;
			margin-bottom: 30px;
			margin-top: 0;
		}
		.meter {
			text-align: center;
		}
		.marginal {
			h3 {
				margin: 40px 0 15px 0;
				font-weight: 500;
				text-align: center;
			}
			img {
				width: 100%;
			}
		}
	}
}
