.dashboard-employer {
	// box-shadow: 0 2px 30px 1px rgba(176, 192, 237, 0.45);
	.numbers {
		ul {
			display: flex;
			justify-content: space-between;
			li {
				background: yellow;
				padding: 20px;
				background: white;
				display: block;
				flex: 1 1;
				margin-right: 20px;
				background-repeat: no-repeat;
				background-position: calc(100% - 20px) 20px;
				background-size: auto 40px;
				h2 {
					margin: 0;
					font-size: 60px;
					line-height: 1;
					font-weight: 300;
				}
				p {
					margin: 5px 0 0;
					font-size: 16px;
					color: #6b6c6f !important;
				}
				&:last-child {
					margin-right: 0;
				}
				&:nth-child(1) {
					color: #f08096;
					background-image: url("../../../assets/numbers-1.jpg");
				}
				&:nth-child(2) {
					color: #2f6b99;
					background-size: auto 42px;
					background-image: url("../../../assets/numbers-2.jpg");
				}
				&:nth-child(3) {
					color: #45a1ae;
					background-size: auto 32px;
					background-image: url("../../../assets/numbers-3.jpg");
				}
				&:nth-child(4) {
					color: #544f63;
					background-image: url("../../../assets/numbers-4.jpg");
				}
				&:nth-child(5) {
					color: #f8be82;
					background-image: url("../../../assets/numbers-5.jpg");
				}
			}
		}
	}
	.filters {
		justify-content: space-between;
		box-shadow: 0 2px 10px 1px rgba(176, 192, 237, 0.45);
		background-color: #ffffff;
		margin: 20px 0 20px;
		padding: 10px 20px;
		h3 {
			margin: 0;
			font-size: 18px;
			margin-right: 20px;
		}
		.left {
			justify-content: flex-start;
			.common-dropdown {
				width: 250px;
			}
		}
		.right {
			.start-date {
				margin-right: 15px;
			}
		}
	}
}
