.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 9999;
  transition: opacity 0.1s ease;
  pointer-events: none;
  opacity: 0;
  &.active {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
  }
}
