@import "../../../../variables.scss";

.choose-public-question {
	.content {
		padding: 30px 30px 30px;
		.search-panel {
			input {
				width: 50%;
			}
		}
		.cta {
			display: flex;
			margin-top: 30px;
			justify-content: flex-end;
		}
	}
	.action-btn {
		position: absolute;
		color: #bcd1e4;
		top: 24px;
		right: 20px;
		font-size: 14px;
		cursor: pointer;
		&.edit {
			right: 40px;
		}
	}
	.options {
		& + input + label {
			position: absolute;
			color: #bcd1e4;
			top: 24px;
			right: 50px;
			font-size: 14px;
			cursor: pointer;
		}
	}
}
